{% extends 'base.html.twig' %}

{% block menuPrincipal %}
    {% if email != null %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="../../Controller/partePublica/miPerfil.php">Mi perfil</a></li>
                        <li><a href="../../Controller/partePublica/misActividades.php">Mis actividades</a></li>
                        <li><a href="../../Controller/partePublica/salirPerfil.php">Salir del perfil</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    {% else %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!--<form class="col s12" action="../../Controller/partePublica/actividades.php" method="post">
        <select class="browser-default col s3" name="estado">
            <option value="" disabled selected>Estado</option>
            {% for estado in estados %}
                <option value="{{estado}}">{{estado}}</option>
            {% endfor %}
        </select>

        <select class="browser-default col s3" name="descriptor">
            <option value="" disabled selected>Descriptor</option>
            {% for descriptor in descriptores %}
                <option value="{{descriptor}}">{{descriptor}}</option>
            {% endfor %}
        </select>

        <input class="waves-effect waves-light btn" type="submit" value="Buscar">
    </form>-->
    <table class="bordered">
        <tr>
            <td>Codigo</td>
            <td>Título</td>
            <td>Estado</td>
            <td>Ubicación</td>
            <td>Fecha Inicio</td>
            <td>Fecha Fin</td>
            <td>Descriptor</td>
            <td></td>
        </tr>
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.codigo_actividad }}</td>
                <td>{{ actividad.titulo }}</td>
                <td>{{ actividad.estado }}</td>
                <td>{{ actividad.ubicacion }}</td>
                <td>{{ actividad.fecha_inicio }}</td>
                <td>{{ actividad.fecha_fin }}</td>
                <td>{{ actividad.descriptor }}</td>
                <td><a href="../../Controller/partePublica/detalles.php?codigo={{ actividad.codigo_actividad }}" id="detalleActividad"><i class="fa fa-search-plus"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="center-align">
        <ul class="pagination">
            {% for arrayNumero in arrayNumeros %}
                <li class="active"><a href="../../Controller/partePublica/actividades.php?pagina={{ arrayNumero }}" id="botonNum">{{ arrayNumero }}</a></li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}  