{% extends 'base.html.twig' %}

{% block menuPrincipal %}
    {% if email != null %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="../../Controller/partePublica/miPerfil.php">Mi perfil</a></li>
                        <li><a href="../../Controller/partePublica/misActividades.php">Mis actividades</a></li>
                        <li><a href="../../Controller/partePublica/salirPerfil.php">Salir del perfil</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    {% else %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block contenido %}
    <table class="bordered">
        <tr>
            <td>Persona</td>
            <td>Actividades</td>
            <td>Perfiles</td>
        </tr>
        {% for participante in participantes %}
            <tr>
                <td>{{ participante.codigo_persona }}</td>
                <td>{{ participante.codigo_actividad }}</td>
                <td>{{ participante.codigo_perfil }}</td>    
            </tr>
        {% endfor %}
    </table>
    <div class="center-align">
        <ul class="pagination">
            {% for arrayNumero in arrayNumeros %}
                <li class="active"><a href="../../Controller/partePublica/misActividades.php?pagina={{ arrayNumero }}" id="botonNum">{{ arrayNumero }}</a></li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}
