{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="../../Controller/partePrivada/miPerfil.php">Mi perfil</a></li>
                    <li><a href="../../Controller/partePrivada/misActividades.php">Mis actividades</a></li>
                    <li><a href="../../Controller/partePrivada/salirPerfil.php">Salir del perfil</a></li>
                </ul>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <div class="row">
        <form class="col s12" id="">
            <div class="row">
                <div class="input-field col s3">
                    <label for="last_name" style="margin-top: -11%">Código</label>
                    <input disabled type="text" class="validate" id="codigo_actividad">
                    <label for="disabled">{{ actividad.codigo_actividad }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -9%">Titulo</label>
                    <input disabled type="text" class="validate" id="titulo_actividad">
                    <label for="disabled">{{ actividad.titulo }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Estado</label>
                    <input disabled type="text" class="validate" id="estado_actividad">
                    <label for="disabled">{{ actividad.estado }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Coordinador</label>
                    <input disabled type="text" class="validate" id="coordinador_actividad">
                    <label for="disabled">{{ actividad.coordinador }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Ponente</label>
                    <input disabled type="text" class="validate" id="ponente_actividad">
                    <label for="disabled">{{ actividad.ponente }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Ubicación</label>
                    <input disabled type="text" class="validate" id="ubicacion_actividad">
                    <label for="disabled">{{ actividad.ubicacion }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Fecha Inicio</label>
                    <input disabled type="text" class="validate" id="fecha_inicio_actividad">
                    <label for="disabled">{{ actividad.fecha_inicio }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Fecha Fin</label>
                    <input disabled type="text" class="validate" id="fecha_fin_actividad">
                    <label for="disabled">{{ actividad.fecha_fin }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Horario Inicio</label>
                    <input disabled type="text" class="validate" id="horario_inicio_actividad">
                    <label for="disabled">{{ actividad.horario_inicio }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Horario Fin</label>
                    <input disabled type="text" class="validate" id="horario_fin_actividad">
                    <label for="disabled">{{ actividad.horario_fin }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Nº Total Horas</label>
                    <input disabled type="text" class="validate" id="n_total_horas_actividad">
                    <label for="disabled">{{ actividad.n_Total_Horas }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Precio</label>
                    <input disabled type="text" class="validate" id="precio_actividad">
                    <label for="disabled">{{ actividad.precio }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">IVA</label>
                    <input disabled type="text" class="validate" id="iva_actividad">
                    <label for="disabled">{{ actividad.IVA }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Descriptor</label>
                    <input disabled type="text" class="validate" id="descriptor_actividad">
                    <label for="disabled">{{ actividad.descriptor }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Observaciones</label>
                    <input disabled type="text" class="validate" id="observaciones_actividad">
                    <label for="disabled">{{ actividad.observaciones }}</label>
                </div>
            </div>
        </form>
        <a class="waves-effect waves-light btn" id="botonVolver" href="gestionActividades.php">Volver</a>
        <a class="waves-effect waves-light btn purple darken-4" id="botonParticipar" href="../../Controller/partePrivada/miNuevaActividad.php?codigo_actividad={{ actividad.codigo_actividad }}">Participar en la actividad</a>
    {% endblock %}