{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s3">
                    <label for="last_name" style="margin-top: -11%">Código</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.codigo }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -9%">DNI</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.DNI }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">1º Apellido</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.apellido1 }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">2º Apellido</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.apellido2 }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Perfil</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.perfil }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Foto/Logo</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.foto }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Sexo</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.sexo }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Fecha Nacimiento</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.fecha_nac }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Dirección</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.direccion }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Municipio</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.municipio }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Provincia</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.provincia }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Pais</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.pais }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Fecha Alta</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.fecha_alta }}</label>
                </div>
                <div class="input-field col s4">
                    <label for="last_name" style="margin-top: -11%">Fecha Baja</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.fecha_baja }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Nº Seguridad Social</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.n_Seguridad_Social }}</label>
                </div>
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Nº Cuenta Bancaria</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.n_Cuenta_Bancaria }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Email</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.email }}</label>
                </div>
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Password</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.password }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Perfil Usuario</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.perfil_usuario }}</label>
                </div>
                <div class="input-field col s6">
                    <label for="last_name" style="margin-top: -8%">Observaciones</label>
                    <input disabled type="text" class="validate">
                    <label for="disabled">{{ persona.observaciones }}</label>
                </div>
            </div>
        </form>
        <a class="waves-effect waves-light btn" href="gestionPersonas.php">Volver</a>
    {% endblock %}
