{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">{{ email }}</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <table class="bordered">
        <tr>
            <td>Persona</td>
            <td>Actividades</td>
            <td>Perfiles</td>
            <td><a href="../../Controller/partePrivada/nuevoParticipante.php"><i class="fa fa-plus"></i></a></td>
        </tr>
        {% for participante in participantes %}
            <tr>
                <td>{{ participante.codigo_persona }}</td>
                <td>{{ participante.codigo_actividad }}</td>
                <td>{{ participante.codigo_perfil }}</td>
                {% if esAdministrador != null %}
                    <td><a href="../../Controller/partePrivada/modificarParticipa.php?codigo_persona={{ participante.codigo_persona }}"><i class="fa fa-pencil"></i></a> <a href="../../Controller/partePrivada/borrarParticipa.php?codigo_persona={{ participante.codigo_persona }}"><i class="fa fa-times"></i></a></td>
                {% endif %}    
            </tr>
        {% endfor %}
    </table>
    <div class="center-align">
        <ul class="pagination">
            {% for arrayNumero in arrayNumeros %}
                <li class="active"><a href="../../Controller/partePrivada/gestionParticipantes.php?pagina={{ arrayNumero }}">{{ arrayNumero }}</a></li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}