{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <!--<li><a href="../../Controller/partePrivada/gestionAdminContrasena.php">Gestión AdminContraseñas</a></li>-->
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <form class="col s12" action="../../Controller/partePrivada/insertarContrasena.php" method="post">
        <table class="bordered">
            <tr>
                <td>Codigo</td>
                <td>Usuario</td>
                <td>Contraseña</td>
                <td>Perfil</td>
                <td></td>
            </tr>

            <div class="row">
                <tr>
                    <td>
                        <select class="browser-default" name="codigo">
                            {% for codigo in codigos %}
                                <option value="{{codigo.codigo}}">{{codigo.codigo}}</option>
                            {% endfor %}
                        </select>
                    </td>

                <div class="input-field col s3">
                    <td><input id="icon_telephone" type="text" class="validate" name="user"></td>
                </div>
                <div class="input-field col s3">
                    <td><input id="icon_telephone" type="password" class="validate" name="password"></td>
                </div>
                <td>
                    <select class="browser-default" name="perfil">
                        {% for perfil in perfiles %}
                            <option value="{{perfil}}">{{perfil}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input class="waves-effect waves-light btn" type="submit" value="Insertar"></td>
                </tr>
            </div>
            <div class="row">
                {% for usuarioContrasena in usuariosContrasenas %}
                    <tr>
                        <td>{{usuarioContrasena.codigo_persona}}</td>
                        <td>{{usuarioContrasena.user}}</td>
                        <td>{{usuarioContrasena.password}}</td>
                        <td>{{usuarioContrasena.perfil}}</td>
                        <td><a href="../../Controller/partePrivada/modificarContrasena.php?codigo_persona={{ usuarioContrasena.codigo_persona }}"><i class="fa fa-pencil"></i></a> <a href="../../Controller/partePrivada/borrarContrasena.php?codigo_persona={{ usuarioContrasena.codigo_persona }}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </div>
        </table>
    </form>
{% endblock %}
