{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <!--<li><a href="../../Controller/partePrivada/gestionAdminContrasena.php">Gestión AdminContraseñas</a></li>-->
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <table class="bordered">
        <tr>
            <td>Codigo</td>
            <td>DNI</td>
            <td>Nombre</td>
            <td>1 Apellido</td>
            <td>2 Apellido</td>
            <td>Sexo</td>
            <td><a href="../../Controller/partePrivada/nuevaPersona.php"><i class="fa fa-plus"></i></a></td>
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.codigo }}</td>
                <td>{{ persona.DNI }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido1 }}</td>
                <td>{{ persona.apellido2 }}</td>
                <td>{{ persona.sexo }}</td>
                <td><a href="../../Controller/partePrivada/detallesPersona.php?codigo_persona={{ persona.codigo }}"><i class="fa fa-search-plus"></i></a> <a href="../../Controller/partePrivada/modificarPersona.php?codigo_persona={{ persona.codigo }}"><i class="fa fa-pencil"></i></a> <a href="../../Controller/partePrivada/borrarPersona.php?codigo_persona={{ persona.codigo }}"><i class="fa fa-times"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="center-align">
        <ul class="pagination">
            {% for arrayNumero in arrayNumeros %}
                <li class="active"><a href="../../Controller/partePrivada/gestionPersonas.php?pagina={{ arrayNumero }}">{{ arrayNumero }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}