{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">{{ email }}</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <form class="col s12" action="../../Controller/partePrivada/gestionActividades.php" method="post">
        <select class="browser-default col s3" name="estado">
            <option value="" disabled selected>Estado</option>
            {% for estado in estados %}
                <option value="{{estado}}">{{estado}}</option>
            {% endfor %}
        </select>
        
        <select class="browser-default col s3" name="descriptor">
            <option value="" disabled selected>Descriptor</option>
            {% for descriptor in descriptores %}
                <option value="{{descriptor}}">{{descriptor}}</option>
            {% endfor %}
        </select>
        
        <input class="waves-effect waves-light btn" type="submit" value="Buscar">
    </form>

    <table class="bordered">
        <tr>
            <td>Codigo</td>
            <td>Título</td>
            <td>Estado</td>
            <td>Ubicación</td>
            <td>Fecha Inicio</td>
            <td>Fecha Fin</td>
            <td>Descriptor</td>
            <td><a href="../../Controller/partePrivada/nuevaActividad.php"><i class="fa fa-plus"></i></a></td>
        </tr>
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.codigo_actividad }}</td>
                <td>{{ actividad.titulo }}</td>
                <td>{{ actividad.estado }}</td>
                <td>{{ actividad.ubicacion }}</td>
                <td>{{ actividad.fecha_inicio }}</td>
                <td>{{ actividad.fecha_fin }}</td>
                <td>{{ actividad.descriptor }}</td>
                <td><a href="../../Controller/partePrivada/detallesActividad.php?codigo_actividad={{ actividad.codigo_actividad }}"><i class="fa fa-search-plus"></i></a> <a href="../../Controller/partePrivada/modificarActividad.php?codigo_actividad={{ actividad.codigo_actividad }}"><i class="fa fa-pencil"></i></a> <a href="../../Controller/partePrivada/borrarActividad.php?codigo_actividad={{ actividad.codigo_actividad }}"><i class="fa fa-times"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="center-align">
        <ul class="pagination">
            {% for arrayNumero in arrayNumeros %}
                <li class="active"><a href="../../Controller/partePrivada/gestionActividades.php?pagina={{ arrayNumero }}">{{ arrayNumero }}</a></li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}
