{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="../../Controller/partePrivada/miPerfil.php">Mi perfil</a></li>
                    <li><a href="../../Controller/partePrivada/misActividades.php">Mis actividades</a></li>
                    <li><a href="../../Controller/partePrivada/salirPerfil.php">Salir del perfil</a></li>
                </ul>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}

    <form class="col s12" action="../../Controller/partePrivada/modificadoParticipa.php" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="file-field input-field col s3">
                <select class="browser-default" name="nombre">
                    <option value="" disabled selected>Persona</option>
                    {% for nombre in nombres %}
                        <option value="{{ nombre.nombre }}">{{ nombre.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="file-field input-field col s3">
                <select class="browser-default" name="titulo">
                    <option value="" disabled selected>Actividad</option>
                    {% for titulo in titulos %}
                        <option value="{{ titulo.titulo }}">{{ titulo.titulo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s3">
                <select class="browser-default" name="perfil">
                    <option value="" disabled selected>Perfiles</option>
                    {% for perfil in perfiles %}
                        <option value="{{ perfil }}">{{ perfil }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input class="waves-effect waves-light btn yellow accent-2" type="submit" value="modificar" name="opcion">
        <input class="waves-effect waves-light btn" type="submit" value="cancelar" name="opcion">
    </form>
{% endblock %}
