<table id="tablaPersonas" class="bordered">
        <tr>
            <td>Codigo</td>
            <td>DNI</td>
            <td>Nombre</td>
            <td>1 Apellido</td>
            <td>2 Apellido</td>
            <td>Sexo</td>
            <td>
                {% if esAdministrador != null %}
                <a href="../../Controller/partePrivada/nuevaPersona.php" id="anadirPersona"><i class="fa fa-plus"></i></a></td>
                {% endif %}
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.codigo }}</td>
                <td>{{ persona.DNI }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido1 }}</td>
                <td>{{ persona.apellido2 }}</td>
                <td>{{ persona.sexo }}</td>
                {% if esAdministrador != null %}
                    <td><a href="../../Controller/partePrivada/detallesPersona.php?codigo_persona={{ persona.codigo }}" id="detallePersona"><i class="fa fa-search-plus"></i></a> <a href="../../Controller/partePrivada/modificarPersona.php?codigo_persona={{ persona.codigo }}" id="modificarPersona"><i class="fa fa-pencil"></i></a> <a href="../../Controller/partePrivada/borrarPersona.php?codigo_persona={{ persona.codigo }}" id="borrarPersona"><i class="fa fa-times"></i></a></td>
                        {% else %}
                    <td><a href="../../Controller/partePrivada/detallesPersona.php?codigo_persona={{ persona.codigo }}" id="detallePersona"><i class="fa fa-search-plus"></i></a></td>
                        {% endif %}

            </tr>
        {% endfor %}
    </table>
