<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actividades BIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../View/css/font-awesome.css">
        <link rel="stylesheet" href="../View/css/bootstrap.min.css" >
    </head>
    <body>
        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h1>Actividades BIN</h1>
                </div>
                <form action="../Controller/alta.php" method="post">
                    <table class="table table-striped">
                        <tr>
                            <td>Código</td>
                            <td>Título</td>
                            <td>Estado</td>
                            <td>Cordinador</td>
                            <td>Ubicación</td>
                            <td>Fecha</td>
                            <td>Horarios</td>
                            <td>Total Horas</td>
                            <td>Precio Total</td>
                            <td>IVA</td>
                        </tr>
                        <tr>
                            <td><input type="number" style="width: 70px" name="codigo"></td>
                            <td><input type="text" name="titulo"></td>
                            <td><input type="text" style="width: 100px" name="estado"></td>
                            <td><input type="text" name="cordinador"></td>
                            <td><input type="text" style="width: 100px" name="ubicacion"></td>
                            <td><input type="date" style="width: 140px" name="fecha"></td>
                            <td><input type="time" name="horarios"></td>
                            <td><input type="number" style="width: 50px" name="totalHoras"></td>
                            <td><input type="number" style="width: 70px" name="precioTotal"></td>
                            <td><input type="text" style="width: 70px" name="IVA"></td>
                            <td><input type="submit" class="btn btn-primary" value="Insertar"></td>
                        </tr>
                        {% for actividad in actividades %}
                            <tr>
                                <td>{{actividad.codigo}}</td>
                                <td>{{actividad.titulo}}</td>
                                <td>{{actividad.estado}}</td>
                                <td>{{actividad.cordinador}}</td>
                                <td>{{actividad.ubicacion}}</td>
                                <td>{{actividad.fecha}}</td>
                                <td>{{actividad.horarios}}</td>
                                <td>{{actividad.totalHoras}}</td>
                                <td>{{actividad.precioTotal}}</td>
                                <td>{{actividad.IVA}}</td>
                                <td><a href="../Controller/baja.php"><i class="fa fa-times"></i></a>  <a href="../Controller/modificar.php"><i class="fa fa-pencil"></i></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>

